<div class="content">
  <section class="cart-container">
    {{#if shoes}}
      <h2 class="title">Peek at Your Kicks in the Cart!</h2>
    {{else}}
      <h2 class="title">No Items Found!</h2>
    {{/if}}

    <div class="cart-list">
      <!-- Item 1 -->
      {{#each shoes}}
        <div class="cart-item">
          <img
              alt="Item Thumb"
              class="thumb"
              src="/assets/img/sneaker{{this.imageId}}.png"
          />
          <div class="item-name">{{this.name}}</div>
          <div class="item-price">{{this.price}} VND</div>
          <div class="qty">{{this.quantity}}</div>
          <img
              data-id="{{this.imageId}}"
              alt="Delete Icon"
              class="delete"
              src="/assets/icon/delete-icon.svg"
          />
          <form method="POST" class="delete-form"></form>
        </div>
      {{/each}}
    </div>
  </section>
</div>
<div class="checkout">
  <div class="content">
    {{#if shoes}}
      <div class="checkout-wrap">
        <div class="btn">CHECK OUT</div>
      </div>
    {{/if}}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const forms = document.querySelectorAll(".delete-form"); // Select all forms
    const deleteButtons = document.querySelectorAll(".delete"); // Select all delete buttons

    deleteButtons.forEach((btn, index) => {
      btn.addEventListener("click", function (e) {
        const imageId = e.target.getAttribute("data-id");
        const form = forms[index];
        form.action = `/me/cart/${imageId}/delete`;
        form.submit();
      });
    });
  });
</script>