<div class="content">
  <section class="cart-container">
    {{#if shoes}}
      <h2 class="title">Peek at Your Kicks in the Cart!</h2>
    {{else}}
      <h2 class="title">No Items Found!</h2>
    {{/if}}

    <div class="cart-list">
      <!-- Item 1 -->
      {{#each shoes}}
        <div class="cart-item">
          <label>
            <input class="checkbox" name="input" type="checkbox"/>
          </label>
          <img
              alt="Item Thumb"
              class="thumb"
              src="/assets/img/sneaker{{this.imageId}}.png"
          />
          <div class="item-name">{{this.name}}</div>
          <div class="item-price">{{this.price}} VND</div>
          <div class="qty">{{this.quantity}}</div>
          <img
              alt="Delete Icon"
              class="delete"
              src="/assets/icon/delete-icon.svg"
          />
        </div>
      {{/each}}
    </div>
  </section>
</div>
<div class="checkout">
  <div class="content">
    {{#if shoes}}
      <div class="checkout-wrap">
        <div class="btn">CHECK OUT</div>
      </div>
    {{/if}}
  </div>
</div>